.zs-publication-sticky {
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top: 6em;
    min-width: 250px;
}

.zs-report-content {
    border-left: solid 2px #CCC;
    padding-left: 2rem;
}

.zs-publication > .chapter-anchor {
    padding-top: 150px;
    margin-top: -150px;
}

.chapter__link a {
    padding-right: 2rem;
    display: flex;
    width: 100%;
    margin: 1rem 0;
    position: relative;
    transition: all 250ms ease-in-out;
    font-size: 0.9rem;
    border: none !important;
}

.chapter__link {
    list-style: none;
}

.chapter__link:last-of-type a {
    margin: 1rem 0 0 0;
}

.chapter__link--active {
    /*! transition:all 250ms ease-in-out; */
}

.chapter__link--active a {
    color: rgba(88, 89, 91);
    transition: all 250ms ease-in-out;
}

.chapter__link--active a::after {
    content: '';
    position: absolute;
    right: 0;
    height: 3rem;
    width: 5px;
    background: rgba(73, 156, 211);
}

.zs-publications__full {
    display: flex;
}

.zs-publication-flex img {
    width: 250px;
}

.zs-publication-flex pre {

}
.zs-publication-flex {
    display: flex;
}

